<div class="row mt-5 ml-3" style="font-size:xx-large; font-style: oblique; color:orange;font-weight: 500px;">
    Welcome to Innovation.
</div>

<div>

    <form class="example-form mt-3">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <mat-form-field>
                    <label>Email:</label>
                    <input matInput [formControl]="emailFormControl" [(ngModel)]="email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <mat-form-field>
                    <label>Password:</label>
                    <input matInput type="password" [(ngModel)]="password" [formControl]="passwordFormControl">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="checked" name="checked">ACC stuff</mat-checkbox>
                </section>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8"></div>
            <div class="col-4">
                <button mat-raised-button (click)="Login()" style="border-color:lightskyblue; border-radius: 5px;">
                    Login
                </button>
                <button mat-raised-button style="margin-left: 50px; border-color: lightskyblue; border-radius: 5px;">
                    Cancel
                </button>
            </div>
        </div>

    </form>

</div>


<div>
    <div>
        <!-- Menue -->
        <p><label for="Menue">Menu</label></p>
        <button mat-button [matMenuTriggerFor]="Accenture" style="border:1px solid #ff9933">Accenture CIO</button>
        <mat-menu #Accenture="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="CIO_003_Innovation">CIO_003_Innovation</button>
            <button mat-menu-item [matMenuTriggerFor]="CIO_ATC_DBS">CIO_ATC_DBS</button>
        </mat-menu>

        <mat-menu #CIO_003_Innovation="matMenu">
            <button mat-menu-item>CELL_1_Opos</button>
            <button mat-menu-item>CELL_2_PM</button>
            <button mat-menu-item>CELL_3_KM</button>
            <button mat-menu-item>Test</button>
        </mat-menu>

        <mat-menu #CIO_ATC_DBS="matMenu">
            <button mat-menu-item>DATAM</button>
            <button mat-menu-item>CDL</button>
            <button mat-menu-item>IC Check List</button>
            <button mat-menu-item>Test</button>
            <button mat-menu-item>other</button>
        </mat-menu>
    </div>
    <div class="row col">
        <!--DatePicker Component -->
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <p>Dialog</p>
        <ol>
            <li>
                <mat-form-field>
                    <input matInput [(ngModel)]="userName" placeholder="what's your name">
                </mat-form-field>
            </li>
            <li>
                <button mat-raised-button (click)="openDialog()">Show Dialog</button>
            </li>

        </ol>

    </div>
    <!--Expanision Panel-->
    <div class="mt-3">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Innovation KM
                    </mat-panel-title>
                    <mat-panel-description>
                        Include detail member information
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="tkmdatasource" class="mat-elevation-z8">

                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? kmasterToggle() : null"
                                [checked]="selection.hasValue() && kisAllSelected()"
                                [indeterminate]="selection.hasValue() && !kisAllSelected()">

                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Position}} </mat-cell>
                    </ng-container>

                    <!-- EID Column -->
                    <ng-container matColumnDef="EID">
                        <mat-header-cell *matHeaderCellDef> EID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.EID}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="Role">
                        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Role}} </mat-cell>
                    </ng-container>

                    <!-- Seat Column -->
                    <ng-container matColumnDef="SeatNo">
                        <mat-header-cell *matHeaderCellDef> SeatNo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SeatNo}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
                </mat-table>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Innovation PM
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="tpmdatasource" class="mat-elevation-z8">
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? pmasterToggle() : null"
                                [checked]="selection.hasValue() && pisAllSelected()"
                                [indeterminate]="selection.hasValue() && !pisAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Position}} </mat-cell>
                    </ng-container>

                    <!-- EID Column -->
                    <ng-container matColumnDef="EID">
                        <mat-header-cell *matHeaderCellDef> EID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.EID}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="Role">
                        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Role}} </mat-cell>
                    </ng-container>

                    <!-- Seat Column -->
                    <ng-container matColumnDef="SeatNo">
                        <mat-header-cell *matHeaderCellDef> SeatNo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SeatNo}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
                </mat-table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>